*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.py
*.db-shm
*.db-wal
#*.html
*.pem
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
.*
!/.gitignore
config
ozw_config
zones
bravia.conf
phue.conf
privkey.pem
certificate.pem
tradfri.conf
#www/custom_ui

html5_push_registrations.conf

*.conf
*.conf.disabled

packages.disabled

www/people