homeassistant:
  # Name of the location where Home Assistant is running
  name: !secret hass_name
  # Location required to calculate the time the sun rises and sets
  latitude: !secret hass_latitude
  longitude: !secret hass_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret hass_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret hass_timezone
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages

# Logger
logger:
  default: error

# Enables the frontend
frontend: !include frontend.yaml

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key

  base_url: !secret base_url

  trusted_networks:
    - !secret trusted_ip
    - !secret trusted_ip_2

  ip_ban_enabled: true
  login_attempts_threshold: 10

# Checks for available updates
updater:

# Discover some devices automatically
discovery:
  ignore:
    - songpal

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# InfluxDB
influxdb:
  host: 127.0.0.1
  exclude:
    domains:
      - camera

# Recorder
recorder: !include recorder.yaml

# Track the sun
sun:

# Map
map:

# Wake on LAN
wake_on_lan:

# Cloud
cloud: !include cloud.yaml

# Google Home
#google_assistant: !include google_assistant.yaml

# MQTT Broker
mqtt:
  broker: !secret msmqtt_broker
  client_id: !secret msmqtt_clientid
  username: !secret msmqtt_username
  password: !secret msmqtt_password
  port: !secret msmqtt_port

# Text to speech
tts:
  - platform: google

# Netatmo Config
netatmo:
  api_key: !secret netatmo_api_key
  secret_key: !secret netatmo_secret_key
  username: !secret netatmo_username
  password: !secret netatmo_password
  discovery: false

# Roomba
vacuum:
  - platform: roomba
    host: !secret roomba_host
    username: !secret roomba_username
    password: !secret roomba_password

# Homematic
homematic:
  interfaces:
    ip:
      host: !secret homematic_host
      port: !secret homematic_port
      username: !secret homematic_username
      password: !secret homematic_password
      resolvenames: json
  hosts:
    ccu2:
      host: !secret homematic_host
      username: !secret homematic_username
      password: !secret homematic_password

# IKEA Tradfri
tradfri:
  host: !secret tradfri_host

# Philips Hue
hue:
  bridges:
    - host: 192.168.1.64

# History Graph Test
history_graph:
  synology_nas:
    name: "Synology NAS"
    hours_to_show: 48
    refresh: 1800
    entities:
      - sensor.volume_used_volume_1
      - sensor.status_volume_1
      - sensor.average_disk_temp_volume_1
      - sensor.maximum_disk_temp_volume_1
      - sensor.cpu_load_total
      - sensor.memory_usage_real

########### INCLUDES #####
sensor: !include_dir_list sensors/
switch: !include_dir_list switches/
camera: !include_dir_list cameras/
cover: !include_dir_list covers/
fan: !include_dir_list fans/
binary_sensor: !include_dir_list binary_sensors/
climate: !include_dir_list climate/
device_tracker: !include_dir_list device_tracker/
zone: !include_dir_list zones/
media_player: !include_dir_list media_players/
notify: !include_dir_list notify/
weather: !include_dir_list weather/

light: !include_dir_merge_list light/
automation: !include_dir_merge_list automation/
scene: !include_dir_merge_list scenes/

input_number: !include_dir_merge_named input_number/
input_boolean: !include_dir_merge_named input_boolean/
timer: !include_dir_merge_named timers/
group: !include_dir_merge_named groups/
script: !include_dir_merge_named scripts/
alert: !include_dir_merge_named alerts/

panel_custom: !include panel_custom.yaml
weblink: !include misc/weblinks.yaml